<!--
  ~ @file legend-card.component.html
  ~ @author Sergio Romera Rupérez
  ~ @description Landing narrative component to tell the story of the World Cup.
  -->

<ion-card class="narrative-card" appScrollAnimate>
  <img src="assets/icons/trionda.svg" alt="" class="decorative-trionda" />
  <!-- Statistical Callouts Left/Top -->
  <ion-card-content class="card-stats-container">
    <h2 class="stats-headline">EL MUNDIAL DE LAS LEYENDAS</h2>
    <p class="stats-paragraph">
      El crepúsculo de los dioses y el amanecer de una nueva era. Modrić, Neymar, Cristiano y Messi orquestaron su
      último baile, desafiando cara a cara a los herederos del trono. Entre los mitos, un incombustible Messi de 39 años
      doblegó al mismísimo tiempo, devorando récords en cada noche mágica. La Bota de Oro mutó en un duelo de colosos
      donde Bellingham, Haaland y el astro argentino desataron una tormenta perfecta, aunque el galardón final coronó al
      letal Mbappé, máximo goleador en la historia de las Copas del Mundo... y los que le quedan. Pero el mundo del
      fútbol se rindió al dominio español: un renacido Rodri se alzó como MVP absoluto tras superar su grave lesión de
      rodilla, escoltado por un Pau Cubarsí, que, elegido mejor jugador joven, se presentó al mundo consolidándose como
      defensa que apunta a legendario. La épica también encumbró a héroes inesperados: Vozinha, a sus 40 primaveras, se
      hizo eterno bajo palos desquiciando a las mismísimas finalistas. Las leyendas dijeron adiós; el fútbol,
      simplemente, se hizo aún más inmortal.
    </p>
  </ion-card-content>

  <!-- Vertical Poster Placeholder Right/Bottom -->
  <div class="card-poster-container">
    <img src="assets/images/leyendas.jpeg" alt="Poster del Mundial de Leyendas" class="legend-poster" />
  </div>
</ion-card>