<!--
  ~ @file eternity-card.component.html
  ~ @author Sergio Romera Rupérez
  ~ @description Landing narrative component to tell the story of the World Cup.
  -->

<ion-card class="narrative-card" appScrollAnimate>
  <img src="assets/icons/trionda.svg" alt="" class="decorative-trionda" />
  <div class="card-image-container">
    <!-- Tournament Bracket Image -->
    <img src="assets/images/cuadro.png" alt="Cuadro del Mundial 2026" class="bracket-image" />

    <div class="groups-container">
      <img src="assets/images/GroupsA-F.png" alt="Grupos A-F" class="group-left" />
      <img src="assets/images/GroupsG-L.png" alt="Grupos G-L" class="group-right" />
    </div>
  </div>
  <ion-card-content class="card-text-container">
    <div class="pill-badge">FIFA WORLD CUP 2026</div>
    <h2 class="card-headline">Un torneo para la eternidad.</h2>

    <p class="card-paragraph">
      El Mundial de la FIFA de 2026 pasó a la historia por muchos motivos. Durante algo más de un mes, el planeta entero
      se paralizó para vivir una competición que batió récords de audiencia, llenó estadios y volvió a demostrar que el
      fútbol es capaz de unir a millones de personas, provocar celebraciones inolvidables y generar discusiones eternas
      sobre árbitros, tácticas y goles anulados. Porque, seamos sinceros, un Mundial sin polémica sería como un estadio
      vacío, sin los aficionados.
    </p>

    <p class="card-paragraph">
      El campeonato se disputó entre el 11 de junio y el 19 de julio de 2026 y fue la edición más ambiciosa jamás
      organizada por la FIFA. Por primera vez en la historia, la Copa del Mundo se celebró en tres países distintos:
      Estados Unidos, México y Canadá. La candidatura conjunta fue elegida en junio de 2018 y supuso el regreso del
      torneo a Norteamérica, más de treinta años después del Mundial celebrado en Estados Unidos en 1994, con aquella
      trepidante victoria de Brasil en la final disputada ante la Italia de Roberto Baggio en la tanda de penaltis.
    </p>

    <p class="card-paragraph">
      La edición de 2026 también marcó un punto de inflexión al convertirse en el primer Mundial con 48 selecciones
      participantes. El nuevo formato permitió ampliar el número de países presentes en la competición y aumentar el
      número total de encuentros hasta la impresionante cifra de 104 partidos. El torneo quedó organizado en doce grupos
      de cuatro equipos, seguidos de una fase eliminatoria que comenzó con los Dieciseisavos de Final. En otras
      palabras, hubo tanto fútbol que incluso quienes decían no tener ningún interés acabaron mirando
      resultados.
    </p>

    <p class="card-paragraph">
      Las sedes del campeonato estuvieron repartidas entre dieciséis ciudades. Canadá acogió encuentros en Toronto y
      Vancouver, mientras que México hizo lo propio en Ciudad de México, Guadalajara y Monterrey. Por su parte, Estados
      Unidos fue el país con mayor número de estadios y recibió partidos en Atlanta, Boston, Dallas, Houston, Kansas
      City, Los Ángeles, Miami, Nueva York, Filadelfia, San Francisco y Seattle. Entre todos ellos destacó el legendario
      Estadio Azteca, que se convirtió en el primer recinto del mundo en albergar partidos correspondientes a tres
      ediciones del Mundial (en 1970, 1986 y 2026).
      </ p>

    <p class="card-paragraph">
      La Copa del Mundo 2026 fue, en definitiva, una competición destinada a marcar un antes y un después en la historia
      del deporte rey. Nunca antes habían participado tantas selecciones ni se habían disputado tantos encuentros en un
      territorio tan extenso. La pasión, la tensión, los nervios, la emoción y la incertidumbre acompañaron a los
      aficionados hasta el último día del torneo, cuando España consiguió proclamarse campeona del mundo en el minuto
      106 con un gol
      de Ferrán Torres ante la Argentina de Lionel Messi, campeona en la última edición hasta esa fecha, y levantar el
      trofeo más
      prestigioso del fútbol internacional.
    </p>

    <p class="card-paragraph">
      Así concluyó una edición histórica que demostró, una vez más, que durante un Mundial el tiempo parece detenerse y
      que millones de personas son capaces de compartir la misma alegría, la misma tensión y la misma ilusión, aunque
      vivan a muchísimos kilómetros de distancia.
    </p>

    <p class="card-highlight">
      <span class="desktop-text">
        104 partidos, 48 selecciones y un campeón. La
        Copa del Mundo más grande de la historia ya
        forma parte de la leyenda del balompié.
      </span>
      <span class="mobile-text">
        104 partidos, 48 selecciones y un único campeón. La Copa del Mundo más grande de la historia ya forma parte de
        la eterna leyenda del balompié.
      </span>
    </p>
  </ion-card-content>
</ion-card>